body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Display: Flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    Display: flex;
    justify-content: space-between;
    padding: 10px 0px 50px 0px;
    position: sticky;
}

.first-section {
    background-color: #1F2937;
    padding: 10px 100px 80px;
}

.hero-main-text {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 400px;
}

.hero {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(78, 78, 79);
    border-radius: 25px;
}

.hero-text {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 400px;
    
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
}

button:hover {
    background-color: rgb(30, 30, 68);
}

.second-section {
    padding: 60px 30px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
}

.benefit {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.benefits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}


.benefit-image {
    width: 200px;
    height: 200px;
}

.benefit-text {
    width: 200px;
    text-align: center;
    font-size: 18px;
}


.benefit-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border: 4px solid rgb(25, 92, 237);
    border-radius: 16px;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    padding: 70px 70px 50px;
}

.quote-author {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 1200px;
    flex: 1 1 0;
    gap: 24px;
    align-items: center;
    margin: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.author {
    align-self: end;
    font-weight: 700;
    font-size: 18px;
}

.forth-section {
    display: flex;
    padding: 50px;
}

.container {
    display: flex;
    flex: 1;
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    padding: 42px 64px;
    background-color:rgb(41, 104, 239);
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.container-text {
    color: white;
}

.main-container-text {
    font-size: 24px;
    font-weight: 700;
}

.container button {
    font-weight: 700;
    border: 2px solid white;
    background-color: rgb(41, 104, 239);
}

footer {
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}